In [ ]:
# Imports dos módulos + caminho da pasta dos arquivos
import os
import sys
sys.path.append('../src')  # 
from src.extract_data import get_data_from_api
from src.load_data import get_data_from_files
from config.config import API_URL, CSV_FILE_PATH1, XLS_FILE_PATH2

In [ ]:
# chamando a funçao que extrai os dados da api e guarda num df
api_url = API_URL
df_api = get_data_from_api(api_url)
df_api.head()

status: 200

         data  valor
0  01/02/1992  22.17
1  01/03/1992  20.74
2  01/04/1992  20.14
3  01/05/1992  26.93
4  01/06/1992  19.07

In [ ]:
# chamando a função que lê os arquivos csv e xls
#df_csv, df_xls = get_data_from_files()

In [11]:
df_csv

,dt_cmdty,nome_cmdty,tipo_cmdty,cmdty_um,cmdty_vl_rs_um,cmdty_var_mes_perc,dt_etl
0,2021-11-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,263.95,2.664333,2021-12-14
1,2021-12-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,321.60,0.218413,2021-12-14
2,2022-02-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,338.46,0.052425,2022-02-02
3,2022-04-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,341.60,0.009277,2022-04-02
4,2022-06-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,314.60,-0.079040,2022-06-02
5,2022-07-01,Boi_Gordo,Indicador do Boi Gordo CEPEA/B3,15 Kg/carcaça,485.90,0.544501,2022-07-02

In [12]:
df_xls

   INDICADOR DO BOI GORDO CEPEA/B3  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                              NaN         NaN         NaN         NaN
1                     Fonte: Cepea         NaN         NaN         NaN
2                             Data  À vista R$         NaN         NaN
3                          01/2023  285.972727         NaN   258.51491
4                          02/2023  289.719444         NaN         NaN
5                          03/2023  281.797826         NaN         NaN
6                          04/2023  285.805556         NaN         NaN
7                          05/2023  263.831818         NaN         NaN
8                          06/2023  248.795238         NaN         NaN
9                          07/2023         NaN         NaN         NaN
10                         08/2023   220.36087         NaN         NaN
11                             NaN     212.515         NaN         NaN
12                         10/2023  237.835714         NaN         NaN
13                         11/2023    234.8675         NaN         NaN
14                         12/2023  248.631579         NaN         NaN
15                         01/2024      249.65         NaN         NaN
16                         02/2024         NaN         NaN         NaN
17                         03/2024    232.8075         NaN         NaN
18                         04/2024  230.506818         NaN         NaN
19                         05/2024         NaN         NaN         NaN
20                         06/2024    220.7025         NaN         NaN
21                         07/2024  229.273913         NaN         NaN
22                             NaN  235.072727         NaN         NaN
23                         09/2024  255.452381         NaN         NaN

In [17]:
df_api.sample(10)

           data valor
384  01/02/2024  1.06
35   01/01/1995  5.18
363  01/05/2022  0.85
68   01/10/1997  0.19
248  01/10/2012  0.51
181  01/03/2007  0.38
215  01/01/2010  0.61
65   01/07/1997  0.57
162  01/08/2005  0.44
221  01/07/2010  0.35