In [8]:
from src.extract_data import get_data_from_api
from src.load_data import get_data_from_files
from config.config import API_URL, CSV_FILE_PATH1, XLS_FILE_PATH2

In [13]:
import os
import sys
sys.path.append('../src')  # Altere para o caminho correto
from src.load_data import get_data_from_files  # Ajuste o nome conforme seu arquivo

In [4]:
api_url = API_URL
df_api = get_data_from_api(api_url)
df_api.head()

status: 200

         data  valor
0  01/02/1992  22.17
1  01/03/1992  20.74
2  01/04/1992  20.14
3  01/05/1992  26.93
4  01/06/1992  19.07

In [23]:
df_csv, df_xls = get_data_from_files()

dados csv:
     dt_cmdty nome_cmdty                       tipo_cmdty       cmdty_um  \
0  2021-11-01  Boi_Gordo  Indicador do Boi Gordo CEPEA/B3  15 Kg/carcaça
1  2021-12-01  Boi_Gordo  Indicador do Boi Gordo CEPEA/B3  15 Kg/carcaça
2  2022-02-01  Boi_Gordo  Indicador do Boi Gordo CEPEA/B3  15 Kg/carcaça
3  2022-04-01  Boi_Gordo  Indicador do Boi Gordo CEPEA/B3  15 Kg/carcaça
4  2022-06-01  Boi_Gordo  Indicador do Boi Gordo CEPEA/B3  15 Kg/carcaça

   cmdty_vl_rs_um  cmdty_var_mes_perc      dt_etl
0          263.95            2.664333  2021-12-14
1          321.60            0.218413  2021-12-14
2          338.46            0.052425  2022-02-02
3          341.60            0.009277  2022-04-02
4          314.60           -0.079040  2022-06-02
dados xls:
  INDICADOR DO BOI GORDO CEPEA/B3  Unnamed: 1  Unnamed: 2  Unnamed: 3
0                             NaN         NaN         NaN         NaN
1                    Fonte: Cepea         NaN         NaN         NaN
2                            Data  À vista R$         NaN         NaN
3                         01/2023  285.972727         NaN   258.51491
4                         02/2023  289.719444         NaN         NaN

In [24]:
df_csv.columns.to_list()

['dt_cmdty',
 'nome_cmdty',
 'tipo_cmdty',
 'cmdty_um',
 'cmdty_vl_rs_um',
 'cmdty_var_mes_perc',
 'dt_etl']

In [25]:
df_xls.columns.to_list()

['INDICADOR DO BOI GORDO CEPEA/B3', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3']